@font-face {
    font-family: Brandon;
    src: url(/static/fonts/Brandon_reg.otf);
}

body {
  font-family: Brandon;
  background-color: white;
}

section.page-wrapper {
  background: url(/static/img/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.macros-summary {
  background: rgba(255, 255, 255, 0.75);
  margin-top: 100px;
  padding: 25px 50px 75px 50px;
  text-align: center;
}

.macros-summary h1 {
  font-weight: 200;
}
.btn-special {
  font-size: 20px;
  background-color: #69CC3B;
  color: white;
}
.navbar {
  background: rgba(255, 255, 255, 0.75);
  border-color: transparent;
  height: 125px;
}
.navbar-inverse .navbar-nav li a {
  color: rgba(255,255,255,0.8);
}
.navbar-nav li a {
  padding-top: 50px;
  font-size: 16px;
}

.navbar-brand {
  float: left;
}
.navbar-brand #logo {
  display: inline-block;
}

.custom-btn {
  border: none;
  background: #69CC3B;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px 6px;
  width: 100%;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.table-condensed {
  font-size: 10px;
}
.ingredientInput {
  width: 50px;
  text-align: center;
}
.nutrientInput {
  width: 50px;
  text-align: center;
}
.ratioInput {
  width: 50px;
  text-align: center;
}
div.img {
  position: relative;
  left: 150px;
}
div.cc {
  position: relative;
  left: 150px;
}
