{% extends "layout.html" %}
{% block links %}
<link rel="stylesheet" type="text/css" href="static/stylesheets/nutrition_label.css">

{% endblock %}

{% block scripts %}
<script src="//checkout.stripe.com/checkout.js"></script>

{% endblock %}
{% block content %}

<script type="text/javascript" src="static/js/GeneticSoylent.js"></script>
<script type="text/javascript" src="static/js/Recipe.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
<script type="text/javascript" src="static/js/ui.js"></script>

<div class="row" style="display:none">
  <div class="col-xs-4">
    <div class="img">
      <a href="{{url_for('user')}}">
        <img src="static/img/logo.png" height="175" width="175">
      </a>
    </div>
  </div>
  <div class="col-xs-8>">
    <br />

    <form class="form-inline" align="center">
      <a href="{{url_for('user')}}"><i class="fa fa-user fa-lg">{{session['name']}}</i></a>

      <label>&nbsp;&nbsp;&nbsp;&nbsp;Generation:</label>
      <input class="generation form-control input-sm" type="text" style="width: 50px; text-align: center; margin-right: 20px; margin-left: 10px" />
      <a class="btn btn-primary start-genetic-algorithm" href="#"><i class="fa fa-play"></i></a>
      <a class="btn btn-primary pause-genetic-algorithm" href="#" style="display: none;"><i class="fa fa-pause"></i></a>
      <a class="btn btn-default step-genetic-algorithm" href="#"><i class="fa fa-step-forward"></i></a>
      <a class="btn btn-default reset-genetic-algorithm" href="#"><i class="fa fa-refresh"></i></a>
    </form>

    <div class="population">
      <form class="form-inline" align="center">
        <label>Population:</label>
        <input class="population form-control input-sm" type="text" style="width: 50px; text-align: center" value="100" />
        <label style="margin-left: 20px;">Mutation probability:</label>
        <input class="mutation-probability form-control" type="text" style="text-align: center; width: 50px" value="0.5" />
        <label style="margin-left: 20px;">Mutation multiplier:</label>
        <input class="mutation-multiplier form-control" type="text" style="text-align: center; width: 50px" value="0.1" />
        <label style="margin-left: 20px;">Death rate:</label>
        <input class="death-rate form-control input-sm" type="text" style="width: 50px; text-align: center" value="0.3" />
      </form>
      {#
      <!--           <div class="calculating"><i class="icon-spinner icon-spin icon-large"></i>Calculating...</div>   -->#}
      <button class="btn btn-default" disabled="disabled" id="clickJSON3">Reserved Button</button>
      <button class="btn btn-info" id="clickJSON">Use Sample Target 1</button>
      <button class="btn btn-info" id="clickJSON2">Use Sample Target 2</button>
    </div>
  </div>
</div>

{% if nutrientMerge %}
<div class="calculating">
  <div class="col-xs-2"></div>
  <div class="col-xs-1"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
  <div class="col-xs-9">
    <h1>Calculating...Please do not close your browser</h1>
  </div>
</div>

<div class="container">


  <div class="row nutrient-label" style="display:none">

    <div class="col-md-4">
      <section class="performance-facts">
        </tr>
        <header class="performance-facts__header">
          <h1 class="performance-facts__title">Nutrition Facts (per meal)</h1>
        </header>
        <table class="performance-facts__table">
          <thead>
            <tr>
              <th colspan="3" class="small-info">
                Amount Per Meal
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2">
                <b>Calories  </b> {{(nutrientMerge.calories//3)|int}}
              </th>
            </tr>
            <tr class="thick-row">
              <td colspan="3" class="small-info">
                <b>% Daily Value*</b>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                <b>Total Carbohydrate  </b> {{(nutrientMerge.carbs//3)|int}} mg
              </th>
              <td>
                <b>{{ratio2['carbs']//3|int}}%</b>
              </td>
            </tr>
            <tr>
              <td class="blank-cell">
              </td>
              <th>
                Dietary Fiber {{(nutrientMerge.fiber//3)|int}} mg
              </th>
              <td>
                <b>{{ratio2['fiber']//3|int}}%</b>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                <b>Protein </b> {{(nutrientMerge.protein//3)|int}} mg
              </th>
              <td>
                <b>{{ratio2['protein']//3|int}}%</b>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                <b>Total Fat </b> {{(nutrientMerge.fat//3)|int}} mg
              </th>
              <td>
                <b>{{ratio2['fat']//3|int}}%</b>
              </td>
            </tr>
            <tr>
              <td class="blank-cell">
              </td>
              <th>
                Saturated Fat {{(nutrientMerge['saturated-fat']//3)|int}} mg
              </th>
              <td>
                <b>{{ratio2['saturated-fat']//3|int}}%</b>
              </td>
            </tr>
            <tr>
              <th colspan="2">
                <b>Sodium  </b> {{(nutrientMerge['sodium']//3)|int}} mg
              </th>
              <td>
                <b>{{ratio2['sodium']//3}}%</b>
              </td>
            </tr>
            <tr>
              <tr class="thick-end">
                <th colspan="2">
                  <b>Cholesterol</b> 0 mg
                </th>
                <td>
                </td>
              </tr>
          </tbody>
        </table>

        <table class="performance-facts__table--grid">
          <tbody id="otherNutrients">
          </tbody>
          <tbody id="vitamins">
            <tr>
              <td>
                Calcium
              </td>
              <td>
                {{ratio2['calcium']//3}}%
              </td>
              <td>
                Vitamin A
              </td>
              <td>

                {{ratio2['vitamin_a']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Chloride
              </td>
              <td>
                {{ratio2['chloride']//3}}%
              </td>
              <td>
                Vitamin B6
              </td>
              <td>

                {{ratio2['vitamin_b6']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Chromium
              </td>
              <td>
                {{ratio2['chromium']//3}}%
              </td>
              <td>
                Vitamin B12
              </td>
              <td>

                {{ratio2['vitamin_b12']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Copper
              </td>
              <td>
                {{ratio2['copper']//3}}%
              </td>
              <td>
                Vitamin C
              </td>
              <td>

                {{ratio2['vitamin_c']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Iodine
              </td>
              <td>
                {{ratio2['iodine']//3}}%
              </td>
              <td>
                Vitamin D
              </td>
              <td>

                {{ratio2['vitamin_d']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Iron
              </td>
              <td>
                {{ratio2['iron']//3}}%
              </td>
              <td>
                Vitamin E
              </td>
              <td>

                {{ratio2['vitamin_e']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Magnesium
              </td>
              <td>
                {{ratio2['magnesium']//3}}%
              </td>
              <td>
                Vitamin K
              </td>
              <td>

                {{ratio2['vitamin_k']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Manganese
              </td>
              <td>
                {{ratio2['manganese']//3}}%
              </td>
              <td>
                Riboflavin
              </td>
              <td>

                {{ratio2['riboflavin']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Molybdenum
              </td>
              <td>
                {{ratio2['molybdenum']//3}}%
              </td>
              <td>
                Niacin
              </td>
              <td>

                {{ratio2['niacin']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Phosphorus
              </td>
              <td>
                {{ratio2['phosphorus']//3}}%
              </td>
              <td>
                Folate
              </td>
              <td>

                {{ratio2['folate']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Selenium
              </td>
              <td>
                {{ratio2['selenium']//3}}%
              </td>
              <td>
                Pantothenic
              </td>
              <td>

                {{ratio2['pantothenic']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Sulfur
              </td>
              <td>
                {{ratio2['sulfur']//3}}%
              </td>
              <td>
                Biotin
              </td>
              <td>
                {{ratio2['biotin']//3}}%
              </td>
            </tr>
            <tr>
              <td>
                Zinc
              </td>
              <td>
                {{ratio2['zinc']//3}}%
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          </tbody>

        </table>
      </section>
    </div>
    <div class="col-md-8">
      <div id="saniPicture"></div>
      <h1>{{session['name'].partition(' ')[0].upper()}}'S PERSONALIZED SANI</h1>
      <h5>Free shipping, personalized nutrition plan and multiple flavors.
        <h5>
          <form action="/buy" method="POST">

            <div style="display:none">
              {{ ingredientform.ingredientJson(placeholder="ingredientJson", class="form-control", id = "ingredientTableJsonVal", rows="3", style="width:100%") }}
            </div>
            <div style="display:none">
              {{ ingredientform.deviation(placeholder="deviation", class="form-control", id = "deviationTable", rows="1", style="width:100%") }}
            </div>
            <div style="display:none">
              {{ ingredientform.nutrient(placeholder="nutrient", class="form-control", id = "nutrientHtmlJson", rows="1", style="width:100%") }}
            </div>
            <div style="display:none">
              {{ ingredientform.nutrient2(placeholder="nutrient2", class="form-control", id = "nutrientHtmlJson2", rows="1", style="width:100%") }}
            </div>

            <div class="col-md-6">
              <select class="form-control checkout order-item" id="quantity" name="quantity" placeholder="quantity">
                <option selected="" value="7">$35.00 - 7 Meals ($5/meal)</option>
                <option value="14">$59.00 - 14 Meals ($4.25/meal)</option>
                <option value="21">$84.00 - 21 Meals ($4/meal)</option>
              </select>
              <label class="checkbox-inline order-item">
                <input type="checkbox" id="subscribe" class="checkout" name="subscribe" value="subscription_active">Subscribe and save</label>
              <input id="amount" type="hidden" value="3500" name="amount">
              <input id="email" type="hidden" value={{session[ 'email']}} name="email">

              <div class="order-amount order-item">
              </div>
              <div id="script-div" class="order-item">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="Sani Order" data-shipping-address=t rue data-email={ {session[ 'email']}} data-locale="auto">
                </script>
              </div>
              <div id="ingredientTable"></div>

            </div>


          </form>


    </div>
  </div>
</div>

{% else %}
<section class="page-wrapper">

</section>
<div class="container">
  <div class="macros-summary">

    <h1>
      Thanks for that info! By getting to know you a bit, using a little math we calculated your ideal caloric needs using the Mifflin- St Jear formula, the industry standard used by most nutrionists.
    </h1>
    <div class="calculating">
      <div class="col-md-1"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
      <div class="col-md-11">
        <h1>Sorting through millions of combinations to find your optimal one</h1>
      </div>
    </div>
    <div class="submit" style="display:none">
      <form method="POST">
        <div style="display:none">
          {{ ingredientform.ingredientJson(placeholder="ingredientJson", class="form-control", id = "ingredientTableJsonVal", rows="3", style="width:100%") }}
        </div>
        <div style="display:none">
          {{ ingredientform.deviation(placeholder="deviation", class="form-control", id = "deviationTable", rows="1", style="width:100%") }}
        </div>
        <div style="display:none">
          {{ ingredientform.nutrient(placeholder="nutrient", class="form-control", id = "nutrientHtmlJson", rows="1", style="width:100%") }}
        </div>
        <div style="display:none">
          {{ ingredientform.nutrient2(placeholder="nutrient2", class="form-control", id = "nutrientHtmlJson2", rows="1", style="width:100%") }}
        </div>


        {{ ingredientform.submit(class="btn custom-btn") }}
      </form>
    </div>
  </div>
</div>
{% endif %}

<div id="nutrientHtmlJson" style="display:none"></div>
<div id="nutrientHtmlJson2" style="display:none"></div>

<div class="col-xs-12" style="display:none">
  <h3>This is the 1st JSON</h3>
  {{ratioJson1}} {{ratio2}}
</div>
<div class="col-xs-12" style="display:none">
  <h3>This is the 2nd JSON</h3>
  {{ratioJson2}}
</div>

<div style="display:none">
  <h2>Choose Your Own Recipe.</h2>
  {% if calories %}
  <h4>By our calculation, your target is shown as below.</h4>

  <p>{"nutrientTargets": {"calories": {{calories}}, "protein": {{protein}}, "fat": {{fat}}, "carbs": {{carbs}}, "name": "{{email}}","gender": "{{gender}}", "age": {{age}} }}</p>
  {% endif %}
  <textarea class="form-control" id="inputJSON" rows="1" style="width:100%">
    {% if calories %} {"nutrientTargets": {"calories": {{calories}}, "protein": {{protein}}, "fat": {{fat}}, "carbs": {{carbs}}, "name": "{{email}}","gender": "{{gender}}", "age": {{age}} }} {% endif %}
  </textarea>
</div>

{#
<!--
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.ingredients);
      });
      return false;
    });
  });
</script>

<div class="cc">
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id="result">?</span></p>
<p><a href=# id="calculate">calculate server side</a>
</p></div>


<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_json', {
        ingredients: $('textarea[name="a"]').val()
      }, function(data) {
        $("#result").text(data.ingredients);
      });
      return false;
    });
  });
</script>

<div class="cc">
<h1>jQuery Example</h1>
<p><textarea name=a id="ingredientTableJsonVal" rows="2" style="width:100%"></textarea></p>
<p><span id="result">?</span></p>
<p><a href=# id="calculate">calculate server side</a>
</p></div>
-->
#} {#
<!--        <form>
             <input type="file" id="inputJSON" />
             <input type="submit" value="Submit" />

                 var calories = {{ calories | tojson | safe }};
    var protein =  {{ protein | tojson | safe }};
    var fat = {{ fat | tojson | safe }};
    var carbs = {{ carbs | tojson | safe }};

        var UserInput = function() {

        this.calories = {{calories}} || 0;
        this.protein = {{protein}} || 0;
        this.fat = {{fat}} || 0;
        this.carbs = {{carbs}} || 0;

        this.gender = {{gender}} || "Male";
        this.age = {{age}} || 25;
    };


        </form>


    <script type="text/javascript">

    var userJsonToRun = {"nutrientTargets": { "calories": {{calories}},
     "protein": {{protein}}, "fat": {{fat}},
     "carbs": {{carbs}}, "name": "{{email}}",
     "gender": {{gender}}, "age": {{age}} }};

    </script>
    <script type="text/javascript" src="js/defaultJson.js"></script>-->#} {#
<!--       <textarea id="ingredientform" name = "ingredientform" rows="10">
        <div id="ingredientTableJson" class="col-xs-4"></div>
    </textarea>
     {{ ingredientform.json }}
    {{ ingredientform.submit }}
    {{ wtf.quick_form(ingredientform) }}

    {{ wtf.quick_form(ingredientform) }}
    {{ ingredientform.json }}
    {{ ingredientform.hidden(id='ingredientTableJsonVal') }}
    {{ ingredientform.submit }}
    </div>

<form action="/" method="post">
    {{ ingredientform.json }}
    {{ ingredientform.hidden(id='ingredientTableJsonVal') }}
    {{ ingredientform.submit }}
</form>

    <div class="col-xs-4">
    <h3>JSON Here!!!!!!!!!</h3>
    {{ json }}
    </div>

<p>{{hiddenform}}</p>   -->#} {#
<!--
{{ ingredientform.json(placeholder="json", id = "ingredientTableJsonVal") }}
{{ ingredientform.submit }}


<div class="form-group">
<input type="hidden" name="hiddenform" class="text-field form-control validate-field required" data-validation-type="neighborhood" id="nbhd" placeholder="Pick One" value="Pick One">
</div>

        <input id="chag_sort" type="hidden" name="chag_sort">

        <script type="text/javascript">
            $("#chag_sort").val(sort2);
        </script>
-->#} {#
<!--
    <p></p>
    <div class="container col-xs-12">
    <h2>What is this?</h2>
    <p>Genetic Soylent is an attempt to automatically create a Soylent recipe given a list of ingredients and a target nutrient profile.</p>
    <p>You can play with it by pressing <i class="icon-step-forward"></i> to step to the next generation, <i class="icon-play"></i> to step to next generations automatically and <i class="icon-refresh"></i> to reset the simulation.</p>
    <p>Original code by nick: <a href="http://github.com/nick/genetic-soylent">http://github.com/nick/genetic-soylent</a></p>
    <p>This version by 2potatoes: <a href="http://github.com/2potatoes/genetic-soylent">http://github.com/2potatoes/genetic-soylent</a></p>
    <p>Notes on genetic soylent can be found on <a href="http://spudlent.blogspot.com/search/label/Genetic%20Soylent">2potatoes blog</a>.</p>
    <h2>How it works</h2>
    <ul>
        <li>Generate 100 recipes, each recipe containing a random amount of each ingredient.</li>
        <li>Score each recipe based on how close all the nutrients are to 100%.</li>
        <li>Sort the recipes from best to worst.</li>
        <li>Show the best one in the table above.</li>
    </ul>
    <p>On each subsequent 'generation', the following happens:</p>
    <ul>
        <li>Remove the worst 30 recipes from the list</li>
        <li>Create 30 new Child recipes containing ingredient amounts taken from two randomly selected Parent recipes.</li>
        <li>Ingredient amounts in each Child can also be mutated if the 'mutation probability' is met.</li>
        <li>A mutation works by taking a random ingredient and increasing or decreasing the amount defined by the 'mutation multiplier'. For example, a mutation multiplier of 0.1 will increase or decrease the amount of an ingredient by 10%.</li>
        <li>Finally, we re-calculate the scores for each recipe, sort them, and show the best one in the table.</li>
    </ul>

    </div>
    -->
#} {% endblock %}
