{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html>

<head>
  <title>Vit Meals - User</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/stylesheets/global.css">
  <link rel="stylesheet" type="text/css" href="static/stylesheets/form.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>


</head>

<body>
  <div class="container">
    <h2>My Sani Order</h2>

    <div class="row">
      <div class="col-md-6 col-md-push-6 message">
        <h3>
          Using USDA approved guidelines we will calculate your ideal caloric intake. From there, we will use the most recent medical research to figure out how much protein, carbs & fats you need.
        </h3>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <form method="POST">

          {{ form.name(placeholder="Name", type="text", required="") }}
          {{ form.email(placeholder="Email", required="") }}
          <div class="row">
            <div class="col-sm-4 col-xs-4">
            {{ form.gender.label }}
          </div>
          <div class="col-sm-8 col-xs-4">
            {{ form.gender(class="radio-inline") }}
          </div>
          </div>

          {{ form.act(placeholder="-- Select My Activity Level --", required="")}}

          <div class="row">
            <div class="col-sm-10">
            {{ form.weight(placeholder="Weight", required="")}}
          </div>
          <div class="col-sm-2">
            {{ form.weightUnit(default="lb", required="")}}
          </div>
          </div>

          {{ form.height.label }} {{ form.height(required="")}}
          {{ form.goal.label }} {{ form.goal(class="radio-inline") }} {{ form.age(placeholder="Age", type="number", required="") }} {{ form.submit(class="btn custom-btn") }}</p>
        </form>

      </div>

    </div>
  </div>

</body>

</html>
